@keyframes animation {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class],
button {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F2E9E4;
  color: #22223B;
  font-size: 1.25rem;
}

.container {
  max-width: 90%;
  margin: auto;
  background-color: #C9ADA7;
  border-radius: 0.5rem;
  padding: 2rem 5rem 5rem;
  color: #4A4E69;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.container .box-wrapper button {
  appearance: none;
  opacity: 0;
}

@media (hover: hover) {
  .container:hover {
    color: #22223B;
  }
  .container:hover .box-wrapper button {
    display: block;
    opacity: 1;
  }
}

input {
  appearance: none;
  overflow: hidden;
}

label {
  transition: 1s;
}

.box-wrapper {
  padding: 1.5rem 0 1rem;
  border-top: solid 0.1rem #9A8C98;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-wrapper button {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
}

.box__image {
  display: flex;
  justify-content: center;
  transition: 1s;
}

.box__image img {
  display: none;
  margin-top: 2rem;
  transition: 1s;
}

@media (hover: hover) {
  label:hover button {
    transform: rotate(45deg);
  }
  label:hover .box__image img {
    display: block;
    animation: animation 1s ease 0s 1 normal forwards;
  }
  input:checked:hover~.box__image img {
    animation: none;
  }
  .box-wrapper:hover {
    cursor: pointer;
  }
}

label:active .box-wrapper {
  color: #4A4E69;
}

label:active .box-wrapper button {
  transform: rotate(45deg);
  color: #4A4E69;
}

label:active .box__image {
  opacity: 0.5;
}

input:checked~.box__image img {
  display: block;
}

input:checked~.box-wrapper button {
  transform: rotate(45deg);
}

input:checked~.box-wrapper {
  color: #22223B;
}

@media (max-width: 820px) {
  body {
    font-size: 0.75rem;
  }
  .container {
    padding: 1.5rem 2.5rem 3rem;
  }
  h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .box-wrapper {
    padding: 0.75rem 0 0.25rem;
  }
  .box-wrapper button {
    font-size: 0.75rem;
  }
  .box__image img {
    width: 9rem;
    margin-top: 1rem;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 0.5rem;
  }
  .container {
    padding: 1rem 1.5rem 1/5rem;
  }
  h1 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .box-wrapper {
    padding: 0.5rem 0 0.1rem;
  }
  .box-wrapper button {
    font-size: 0.5rem;
  }
  .box__image img {
    width: 5rem;
    margin-top: 0.5rem;
  }
}